// color
$cl-white: #b3b3b3;
$cl-primary: #4db6ac; // teal
$cl-secondary: #ff4081; // pink iris

$cl-muted: #999999; // dark grey
$cl-grey: #b3b3b3; // grey500

$cl-success: #00e676; // green 400
$cl-error: #f44336; // red
